
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href=/osgi.enroute.examples.cm/favicon.ico">

<title>Configuration Admin Example</title>

<link rel="stylesheet" type="text/css"
	href="/twitter/bootstrap/3/css/bootstrap.css">
<link href="/osgi.enroute.examples.cm/css/style.css" rel="stylesheet">

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
   <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
   <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
    
 <style>
 	.selected {
 		background-color: #428bca !important; 
 		color: white !important;
 	}
 	section {	
 		min-height: 500px;
 	}
 	[ng-click] {
 		cursor: pointer;
 	}
 	
 	img[src='img/enroute-logo-64.png'] {
 		-webkit-animation: logo 5s;
 		-animation: logo 5s;
 	}
 	@-webkit-keyframes logo {
	    from {width: 0;}
	    to {width: 64px;}
	}
 	@keyframes logo {
	    from {width: 0;}
	    to {width: 64px;}
	}

</style>
</head>

<body ng-app="osgi.enroute.examples.cm">

	<div class="container">
		
		<div class="header">
			<ul class="nav nav-pills pull-right">
				<li ng-class="{active: page() == '/'}"><a href="#">About</a></li>
				<li ng-class="{active: page() == '/singleton'}"><a href="#/singleton">Singleton</a></li>
				<li ng-class="{active: page() == '/factory'}"><a href="#/factory">Factory</a></li>
			</ul>
			<h3 class="text-muted">Configuration Admin Examples</h3>
			<div ng-repeat="alert in alerts" class="alert alert-{{alert.type || 'alert'}} alert-dismissible">
				{{alert.msg}}
				<button type="button" ng-click='closeAlert($index)' class="close pull-right"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			</div>
		</div>
  		
  		<div class=row>
	  		<div ng-view ng-class="{'col-md-12':page() == '/' , 'col-md-8':page() != '/' }">
	  		</div>  	
			<div class="btn-group-vertical col-md-4" role="group" aria-label="..." ng-hide="page() == '/'">
	  			<button type="button" class="btn btn-default" ng-click="editor.cmapp.factory()">Factory Create</button>
	  			<button type="button" class="btn btn-default" ng-click="editor.cmapp.singleton()">Singleton Create</button>
	  			<button type="button" class="btn btn-default" ng-click="editor.cmapp.listener()">Listener Create</button>
	  			<button type="button" class="btn btn-default" ng-click="editor.cmapp.plugin()">Plugin Create</button>
	  			<button type="button" class="btn btn-default" ng-click="editor.cmapp.coordinator()">Coordination</button>
			</div>	
		</div>
		<div class="footer">
			<p>&copy; ${def;Bundle-Vendor;Company} ${tstamp;YYYY}</p>
		</div>

	</div>

	<script src="/google/angular/1/angular.js"></script>
	<script src="/google/angular/1/angular-route.js"></script>
	<script src="/google/angular/1/angular-resource.js"></script>
	<script src="/osgi/enroute/jsonrpc/jsonrpc.js"></script>
	<script src="/osgi/enroute/easse/easse.js"></script>
	<script src="/osgi/enroute/easse/polyfill/eventsource.js"></script>
	<script src="/osgi.enroute.examples.cm/main/main.js"></script>

</body>
</html>
