<section ng-cloak>
	<div ng-init=bm.refresh()>
		<table class="table table-small">

			<colgroup>
				<col style="width: 30%; max-width: 10em" class=control-label>
				<col class=form-control>
			</colgroup>

			<tbody>
				<tr>
					<td><label for="name">MQTT Host*</label></td>
					<td><input type="text" class="form-control" id="host"
						placeholder="Enter MQTT Server Address" ng-model=bm.host required></td>
				<tr>

				<tr>
					<td><label for="text">MQTT Port*</label></td>
					<td><input type="number" class="form-control" id="port" min=1 max=65535
						placeholder="Enter Port Number" ng-model=bm.port required></td>
				<tr>
				
				<tr>
					<td><label for="text">MQTT Username</label></td>
					<td><input type="text" class="form-control" id="username"
						placeholder="Enter MQTT Username" ng-model=bm.username></td>
				<tr>
				
				<tr>
					<td><label for="text">MQTT Password</label></td>
					<td><input type="password" class="form-control" id="password"
						placeholder="Enter MQTT Password" ng-model=bm.password></td>
				<tr>
				
				<tr>
					<td><label for="text">MQTT Subscription Topic*</label></td>
					<td><input type="text" class="form-control" id="topic"
						placeholder="Enter Subscription Topic to operate on LED" ng-model=bm.topic required></td>
				<tr>
				
				<tr>
					<td><label for="text">GPIO PIN*</label></td>
					<td><input type="number" class="form-control" id="pin" min=0 max=29
						placeholder="Enter PIN No" ng-model=bm.pin></td>
				<tr>
			</tbody>
		</table>
	</div>
	<div class=clearfix style="margin-bottom:2em">
	
		<button ng-click=bm.store() type="button"
			class="btn btn-default btn-primary pull-right"
			ng-disabled="!bm.host || !bm.port || !bm.topic">Store</button>
	</div>
</section>
